<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>

  <div id="parent">
    <h1>RUDRASISH DAS</h1>
   <div>
      <i class="fa-solid fa-phone"> <img src="https://www.pngkit.com/png/full/438-4385808_phone-icon-png-clipart-telephone-call-computer-icons.png" height="10px" alt = "" srcset=""></i> 9861545601<br>
      <i class="fa-solid fa-phone"> <img src="https://webstockreview.net/images/email-clipart-mail-icon-7.png" height="10px" alt = "" srcset=""></i><a href="mailto:rurasish.das@gmail.com"> rurasish.das&#64;gmail.com</a> | <i class="fa-solid fa-phone"> <img src="https://static.vecteezy.com/system/resources/previews/017/339/624/original/linkedin-icon-free-png.png" height="10px" alt = "" srcset=""></i><a href="https://www.linkedin.com/in/rudrasish-das-5361b61b2">LinkedIn</a><br>
      <i class="fa-solid fa-phone"> <img src="https://icon-library.com/images/address-icon-png/address-icon-png-4.jpg" height="10px" alt = "" srcset=""></i> Bhubaneswar,Odisha
   </div>  
  </div>

  <div id ="child1">
    <h3>Skills</h3>
    <ul>
      <li>Web Technologies: HTML,CSS,JSON, ASP.Net Core,ADO.Net</li>
      <li>Methodologies: Agile, Waterfall</li>
      <li>IDE & Tools: Visual studio code, Visual studio professional 2019,Visual studio professional 2022, Postman,Swagger</li>
      <li>Version Control: Git,TFS</li>
      <li>Database: SQL Server, Oracle</li>
      <li>Design Pattern: MVC,Microservices Architecture</li>
      <li>ORM: Entity Framework 6.0</li>
      <li>Azure: Azure function App,Azure logic App,Azure APIM, Azure service bus,blob storage</li>
      <li>Other Tools and Technologies: Xunit,Dot Net Core, Angular CLI,Dot net 4.8</li>
    </ul>
  </div>
<div id ="child2">
  hello world
</div>

</body>
</html>


