
div:hover{
    border: solid;
    transition: width 3s ;
}

#parent {
  border: 2px;
  background-color: white;
  height: 120px;
  
  text-align: left;
}

/* .conatiner{
  display: flex;
  
} */

#child1 {
 
  /* width: 30%; */
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 260px;
  margin-right: 10px;
}

.linkedin{
  height: 10px; 
    width: 20px !important;
    object-fit: cover !important;
}

#child2 {
  /* border-top: solid; */
  border-bottom: solid;
  border-color: black;
  height: 270px;
  margin-right: 10px;
}

h4{
  margin-bottom: auto;
}