<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>

  <div id="parent">
    <h1>RUDRASISH DAS</h1>
   <div class="urls">
      <div class="ph"><i class="fa-solid fa-phone"> <img src="https://www.pngkit.com/png/full/438-4385808_phone-icon-png-clipart-telephone-call-computer-icons.png" height="10px" alt = "" srcset=""></i> 9861545601</div>
      <div class="ph"><i  class="fa-solid fa-phone"> <img src="https://webstockreview.net/images/email-clipart-mail-icon-7.png"  height="10px" alt = "" srcset=""></i><a href="mailto:rurasish.das@gmail.com"> rurasish.das&#64;gmail.com</a></div>
      <div class="ph"><i class="fa-solid fa-phone"> <img src="https://static.vecteezy.com/system/resources/previews/017/339/624/original/linkedin-icon-free-png.png" class ="linkedin" height="10px" alt = "" srcset=""></i><a href="https://www.linkedin.com/in/rudrasish-das-5361b61b2">LinkedIn</a></div>
      <div class="ph"><i class="fa-solid fa-phone"> <img src="https://icon-library.com/images/address-icon-png/address-icon-png-4.jpg" height="10px" alt = "" srcset=""></i> Bhubaneswar,Odisha </div>
   </div>  
  </div>

  <div id ="child1">
    <h3>Skills</h3>
    <ul>
      <li>Web Technologies: HTML,CSS,JSON, ASP.Net Core,ADO.Net</li>
      <li>Methodologies: Agile, Waterfall</li>
      <li>IDE & Tools: Visual studio code, Visual studio professional 2019,Visual studio professional 2022, Postman,Swagger</li>
      <li>Version Control: Git,TFS</li>
      <li>Database: SQL Server, Oracle</li>
      <li>Design Pattern: MVC,Microservices Architecture</li>
      <li>ORM: Entity Framework 6.0</li>
      <li>Azure: Azure function App,Azure logic App,Azure APIM, Azure service bus,blob storage</li>
      <li>Other Tools and Technologies: Xunit,Dot Net Core, Angular CLI,Dot net 4.8</li>
    </ul>
  </div>
<div id ="child2">
  <h3>Experince</h3>
  <ul>
    <li><h4>TCS</h4>
    System Engineer<br>
    <b>Client:</b> Asda Walmart<br>
    <b>Project:</b> Developed durable functions using azure functions.Also Worked with logic apps and APIM. Developed
    interfaces to process the data into the target format and sending it to the target system, used c#, Dot Net Core
    and Azure PaaS services.</li>

    <li><h4>Mindtree Ltd.</h4>
    Associate Software Engineer<br>
    <b>Client:</b> Icertis<br>
    <b>Project:</b> Icertis Developer Network Portal Developed and implemented Icertis Developer Network(IDN) selfservice
    web based portal which provide accelerator tools, pre-built implementation content, best practices and
    be a knowledge hub for the developer.</li>
  </ul>
</div>

<div id ="child3">
  <h3>Responsibilities/Contribution</h3>
  <ul>
    <li>Following the Sprint based Agile development and delivering the code on time.</li>
    <li>Using Git for version control across common source code used by developers.</li>
    <li>Involving in walk through with the analysis for Use Cases and feasibility scope.</li>
    <li>Was involved in developing and exposing Web APIs to Ul.</li>
    <li>Involved in writing SQL Queries.</li>
    <li>Handling unit test cases to cover and maintain code coverage of 90% and above.</li>
    <li>Responsible for developing the whole Azure function app interface individually.</li>
   </ul>
</div>

</body>
</html>


