
div:hover{
    border: solid;
    transition: width 3s ;
}

#parent {
  border: 2px;
  background-color: white;
  height: 120px;
  
  text-align: left;
}

/* .conatiner{
  display: flex;
  
} */

#child1 {
 
  /* width: 30%; */
  border-top: solid;
  border-bottom: solid;
  border-color: black;
  height: 260px;
  margin-right: 10px;
}


#child2 {
  background-color: rgb(255, 25, 0);
  width: 70%;
}